footer {
  grid-area: footer;
  background-color: rgba(57, 26, 26, 0.752);
  text-align: center;
}

.socials__link {
  margin-right: auto;
  color: rgb(127, 255, 155);
}

.dev {
  text-align: center;
  color: rgb(142, 127, 255);
}
