* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #grid-container {
  font-family: "Poppins", sans-serif;
  color: gray;
  background-color: black;
  max-width: 1980px;
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  text-align: center;
  grid-area: header;
  grid-area: main;
  text-align: center;
}

body #grid-container .header {
  text-align: center;
  grid-area: header;
}

/* Media queries */
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }

  .nav {
    flex: 1;
    margin-top: 0;
  }
  .nav__list {
    display: flex;
    justify-content: center;
  }
  .nav__item {
    margin-left: 1rem;
  }
  .main {
    display: grid;
    align-items: center;
  }
}
