main {
  grid-area: main;
  text-align: center;
}

.main__content {
  flex: 1;
  margin-top: 45px;
  margin-bottom: 40px;
}

.main__img {
  flex: 1;
}

.main__img img {
  max-width: 100%;
}

.main__destacados {
  color: rgb(44, 31, 14);
}

.main__products {
  background-color: white;
}

.main__title {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: gray;
}

@media (min-width: 768px) {
  .main__title {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgb(207, 189, 189);
  }
}
